@{
    ViewBag.Title = "Home Page";
}

<form>
    Product: <input id="product" />
</form>

@section scripts {
    <script>
        $("#product").autocomplete({
            source: "/Home/find",
            minLength: 1
        });

    </script>
}